@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8f9fa;
  color: #0f172a;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
  user-select: none;
}
